.cell {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 176, 231);
  font-size: small;
}

.cell-with-boat {
  background-color: rgb(49, 49, 49);
  color: white;
}

.cell-hit {
  border: 10px solid red;
}

.cell-miss {
  border: 10px solid rgb(65, 0, 170);
}

.cell-sink {
  border: 10px solid rgb(240, 243, 35);
}
