.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end-screen > h1 {
  font-size: 7rem;
}

.end-screen > button {
  width: 100%;
  padding: 1.5rem;
  background-color: rgb(37, 176, 231);
  color: white;
  font-size: large;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
